[package]
authors = ["Chris L. Barnes <chrislloydbarnes@gmail.com>"]
name = "ncollpyde"
version = "0.7.3-alpha.0"
description = "A python wrapper around a subset of the ncollide rust library"
readme = "README.rst"
edition = "2018"

# [package.metadata.maturin.scripts]

[package.metadata.maturin]
requires-dist = ["numpy>=1.16.0"]
requires-python = ">=3.7"
classifier = [
    "Development Status :: 2 - Pre-Alpha",
    "Intended Audience :: Developers",
    "License :: OSI Approved :: MIT License",
    "Natural Language :: English",
    "Programming Language :: Rust",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
]

[dependencies]
pyo3 = { version = "0.10.1", features = ["extension-module"] }
ncollide3d = "0.23.0"
rayon = "1.2.1"

[dev-dependencies]
stl_io = "0.4.2"
cargo-release = "0.13.4"

[lib]
name = "ncollpyde"
crate-type = ["cdylib"]

[package.metadata.release]
disable-publish = true
