# build
maturin==0.14.16

# run
numpy==1.24.2
trimesh[easy]==3.21.2

# test
meshio==5.3.4
pytest==7.2.2
pytest-runner==6.0.0

# bench
# pyoctree==0.2.10
pytest-benchmark==4.0.0

# develop
pip
black==24.3.0
watchdog==3.0.0
ruff
coverage==7.2.2
mypy==1.1.1

# docs
-r docs/requirements.txt
