# build
maturin==0.10.4

# run
numpy==1.20.3
trimesh[easy]==3.9.16

# test
meshio==4.4.3
pytest==6.2.4
pytest-runner==5.3.0

# bench
# pyoctree==0.2.10
pytest-benchmark==3.4.1

# develop
pip==21.1.1
black==20.8b1
watchdog==2.1.1
flake8==3.9.2
coverage==5.5
Sphinx==4.0.0
pickle5==0.0.11
mypy==0.812
